<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../assets/images/tractor.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/joinRoom.styles.css"> 

    <title>Game Lobby</title>
</head>

<body>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/rules">Rules</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <br/>
    <div id="lobbyDisplay" style="display: block;">
        <h1 id="welcomeToRoom">Room </h1>
        <p>Send this code to your friends so they can join the game!</p>

        <div id='enterName'>
            <h2>Enter your name to join the lobby:</h2>
            <input type="text" id="playerName" placeholder="Enter your name" required>
            <button id="joinButton">Join Room Lobby</button>
        </div>

        <h3>Game Settings</h3>

        <!-- Non-host section for showing game settings -->
        <div id="nonHostSettings" style="display: none;">
            <div id="waitingForHostSettings">Waiting for host to confirm settings</div>
        </div>
        <div id="numPlayersDisplay" style="display: none;">Number of Players:</div>
        <div id="numDecksDisplay" style="display: none;">Number of Decks:</div>

        <!-- Host-only section for selecting game settings -->
        <div id="hostControls" style="display: none;">        
            <label for="numPlayers">Players:</label>
            <select id="numPlayers">
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>

            <label for="numDecks">Decks:</label>
            <select id="numDecks">
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>

            <button id="saveSettings">Save Settings</button>
        </div>

        <div id='waitingForPlayers'>
            <h2 id="gameStatus">Waiting for players to join...</h2>
            <button id="readyButton">Ready Up</button>
        </div>

        <h2>Players in Lobby:</h2>
        <div id="playerContainer"></div>
        </br>

        <button id="startGame" style="display: none;">Start Game</button>
        <div id="waitingForHostStart" style="display: none;">Waiting for host to start game...</div>
    </div>

    <div id="gameDisplay" style="display: none;">Game screen</div>


    <script src="/home.bundle.js"></script>

</body>
</html>