<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../assets/images/tractor.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/joinRoom.styles.css"> 

    <title>Game Lobby</title>
</head>

<body>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/rules">Rules</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <br/>
    <h1 id="welcomeToRoom">Room </h1>
    <p>Send this code to your friends so they can join the game!</p>

    <div id='enterName'>
        <h2>Enter your name to join the lobby:</h2>
        <input type="text" id="playerName" placeholder="Enter your name" required>
        <button id="joinButton">Join Room Lobby</button>
    </div>
    <div id='waitingForPlayers'>
        <br/><h2 id="gameStatus">Waiting for players to join...</h2>
        <button id="readyButton">Ready Up</button>
    </div>

    <h2>Players in Lobby:</h2>
    <div id="playerContainer"></div>
    
    <h2 id="gameStatus"></h2>

    <script src="/home.bundle.js"></script>

</body>
</html>