<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../assets/images/tractor.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/joinRoom.styles.css"> 

    <title>Game Lobby</title>
</head>

<body>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/rules">Rules</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    
    <h1 id="welcomeToRoom">Room </h1>
    <p>Send this code to your friends so they can join the game!</p>

    <div id='enterName'><h2>Enter your name to join the lobby:</h2></div>
    <div id='waitingForPlayers'><h2>Waiting for other players to join...</h2></div>
    <form id="joinForm">
        <input type="text" id="playerName" placeholder="Enter your name" required>
        <button type="submit">Join Room Lobby</button>
    </form>
    <h2>Players in Lobby:</h2>
    <div id="playerContainer"></div>

    <script src="/home.bundle.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {

            const urlParts = window.location.pathname.split('/');
            const roomCode = urlParts[urlParts.length - 1]; 
            const welcomeToRoom = document.getElementById('welcomeToRoom');
            welcomeToRoom.textContent = `Welcome to Room ${roomCode}!`;
            const waitingForPlayers = document.getElementById('waitingForPlayers');
            const joinForm = document.getElementById('joinForm');

            joinForm.addEventListener('submit', function(event) {
                event.preventDefault();

                joinForm.style.display = 'none';
                enterName.style.display = 'none';
                waitingForPlayers.style.display = 'block';
            });
        });
    </script>
</body>
</html>